
<section class="navBar-wrapper">
  <nav class= "navBar">
    <!-- navigation bar -->
    <div class="container">

  <a href="/plants/new">Showcase my Garden</a>
  <a href="/plants/show">View/Edit/Delete my Garden</a>
  <a href="/plants/browse">Visit others Garden</a>
  <a href="/plants/browse">Explore Hardiness Zone</a>
  <a href="/plants/browse">What can I plant</a>
  <% if (currentUser) { %>
  Welcome <%= currentUser.username %>

    <form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Log Out" class="btn-small red" />
    </form>

  <% } else { %>
  <a href="/users/new">Sign Up</a></li>
  <a href="/sessions/new">Log In</a></li>
  <% } %>
    </div>
</nav>
</section>