<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    
    <% if (errormessage) { %>
      
        <div class="form-header">
            <h1><%= errormessage %></h1>
          </div>


       
    
      <% } %>

  
   
  </body>
</html>
