<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
 <form action="/plants" method="POST" enctype="multipart/form-data"  class="signup-form"> 
         <!-- form header -->
      <div class="form-header">
        <h1>Login</h1>
      </div>

        <!-- form body -->
        <div class="form-body">

    
    <div> 
				<label for="gardenName">  gardenName: 
                </label> 
				<input type="text" id="gardenName" placeholder="gardenName"
					value="" name="gardenName" required> 
			</div> 
			<div> 
				<label for="description">Garden Description</label> 
				<textarea id="description" name="description" value="" rows="2"
						placeholder="description" required> 
				</textarea> 
            </div> 
         

			<div> 
				<label for="image">Upload Image</label> 
				<input type="file" id="image"
					name="image" value="" required> 
			</div> 
			<div> 
				<button type="submit">Submit</button> 
			</div> 
		</form> 
	</div> 

	<hr> 

	<h1>Uploaded Images</h1> 
	 
</body> 

</html> 
