<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <form action="/hardness/zip" method="post" class="signup-form">
        <div class="form-header">
            <h1> Show my hardness zone</h1>
        </div>
        <section> A hardiness zone is a geographic area where gardeners and growers can determine which plants are most likely to thrive in a location.</section>
        <!-- form body -->
        <div class="form-body">
            <label for="zip">Enter Zip Code:</label>
            <input type="text" name="zip" required/>

            <br>
            <input type="submit" value="Submit" class="btn">
        </div>
    </form>


</body>

</html>