<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <form action="/users" method="POST" class="signup-form">
      <div class="form-header">
        <h1>Create Account</h1>
      </div>

        <!-- form body -->
        <div class="form-body">

      
        <label for="name">User Name:</label>
        <input type="text" name="username" required/>
        <label for="color">Password:</label>
        <input type="password" name="password" />
        <br>
        <input type="submit" value="Submit" class="btn">
        </div>
        </form>
  
 
  </body>
</html>
